# Volumes need to be added
# dependencies also need to be added, which will wait for services to be ready before initializing
# add environments for DB connection in docker network

services:
  gateway:
    container_name: api_gateway
    build:
      context: ./APIGateway
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    networks:
      - microservices-network

  authorization-service:
    container_name: authorization_service
    build:
      context: ./AuthorizationService 
      dockerfile: Dockerfile
    ports:
      - "5002:5002"
    networks:
      - microservices-network

  carfleet-service:
    container_name: carfleet_service
    build:
      context: ./CarFleetService
      dockerfile: Dockerfile
    ports:
      - "5003:5003"
    environment:
      MYSQL_HOST: carfleet-db
      MYSQL_USER: user_db
      MYSQL_PASSWORD: password
      MYSQL_DB: carfleet_db
    depends_on:
      - carfleet-db
    networks: 
      - microservices-network

  carfleet-db:
    container_name: mysql_carfleet_db
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: yani213
      MYSQL_DATABASE: carfleet_db
      MYSQL_USER: user_db
      MYSQL_PASSWORD: password
    ports: 
      - "3307:3306"
    volumes:
      - carfleet-db:/var/lib/mysql
      - ./CarFleetService/db_init:/docker-entrypoint-initdb.d
    networks:
      - microservices-network

  contract-db:
    container_name: mysql_contract_db
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: contract_db
      MYSQL_USER: user_db
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - contract-db:/var/lib/mysql
      - ./ContractService/db_init:/docker-entrypoint-initdb.d
    networks:
      - microservices-network

  contract-service:
    container_name: contract_service
    build:
      context: ./ContractService
      dockerfile: Dockerfile
    ports:
      - "5004:5004"
    environment:
      MYSQL_HOST: contract-db
      MYSQL_USER: user_db
      MYSQL_PASSWORD: password
      MYSQL_DB: contract_db
    depends_on:
      - contract-db
    networks: 
      - microservices-network

  customer-information-service:
    container_name: customer_information_service
    build:
      context: ./CustomerInformationService
      dockerfile: Dockerfile
    ports:
      - "5005:5005"
    networks: 
      - microservices-network

  damage-report-service:
    container_name: damage_report_service
    build:
      context: ./DamageReportService
      dockerfile: Dockerfile
    ports:
      - "5006:5006"
    networks: 
      - microservices-network

  frontend-service:
    container_name: frontend_service
    build:
      context: ./FrontendService
      dockerfile: Dockerfile
    ports:
      - "5007:5007"
    networks: 
      - microservices-network

volumes:
  carfleet-db:
  contract-db:

networks:
  microservices-network:
    driver: bridge